{% extends 'base.html' %}

{% block page_title %}[Web-Scraping Presentation] Hello Pymug{% endblock %}

{% block title %}Web-Scraping Presentation{% endblock %}
{% block content %}
    <div class="box">
        <h1>Hello Pymug!</h1>
        <p>
            A web-scraping presentation
            to demonstrate how easy it is
            to scrape data from the web
        </p>
        <ul>
            <li>
                <a href="/pulls">Go visualize Scrapped Pull Requests</a>
            </li>
            <li>
                <a href="/pulls/by/author">Go visualize Scrapped Pull Requests By Author</a>
            </li>
            <li>
                <a href="/trigger/spider/github/">Trigger the Github Spider</a>
            </li>
        </ul>

    </div>
{% endblock %}